//
// base
//

// paulirish.com/2012/box-sizing-border-box-ftw
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// links
a {

  &:link {}
  &:visited {}
  &:hover {}
  &:active {}
}

// images
img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

// junk
hr {}

section {
  margin: 0 0 20px;

  &.first { margin: 0; }
}

footer {
  min-height: 100px;
}
